$color-black: #000;
$color-white: #FFF;

$color-grayscale-1: #1A1A1A;
$color-grayscale-2: #333333;
$color-grayscale-3: #4D4D4D;
$color-grayscale-4: #666666;
$color-grayscale-5: #808080;
$color-grayscale-6: #999999;
$color-grayscale-7: #B3B3B3;
$color-grayscale-8: #CCCCCC;
$color-grayscale-9: #E6E6E6;

$color-institutional-3: #318FB2;
$color-institutional-1: #bc1145;
$color-institutional-2: #FFA600;

$color-background-dark: $color-grayscale-1;
$color-background-light: $color-grayscale-9;
$color-front-dark: $color-grayscale-1;
$color-front-light: $color-grayscale-9;

$font-family-reglar: $font-family-lato, sans-serif;
$font-family-featured: $font-family-lato, sans-serif;

$font-size-root: 16px;

$viewport-size-desktop: 1023px;
$viewport-size-landscape: 767px;
$viewport-size-portrait: 479px;

$z-index-level-1: 1;
$z-index-level-2: 10;
$z-index-level-3: 100;
$z-index-level-4: 1000;
$z-index-level-5: 10000;