article {
	@include margin-top(4rem);
}

footer {
	background-color: $color-white;
	border-radius: .5rem;
	bottom: 2rem;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
	position: fixed;
	right: 2rem;

	a {
		color: $color-grayscale-3;
		display: block;
		padding: 1rem;
		position: relative;
		text-decoration: none;

		&::before {
			border-top: 1px dashed $color-grayscale-5;
			content: '';
			left: 1rem;
			position: absolute;
			right: 1rem;
			top: 0;
		}

		&:first-child {
			border-top-left-radius: .5rem;
			border-top-right-radius: .5rem;

			&::before {
				display: none;
			}
		}

		&:last-child {
			border-bottom-left-radius: .5rem;
			border-bottom-right-radius: .5rem;
		}

		&:hover {
			background-color: lighten($color-grayscale-9, 5%);
		}
	}

	@include breakpoint($viewport-size-portrait) {
		bottom: 1rem;
		left: 1rem;
		right: 1rem;
	}
}

h3 {
	background-color: $color-institutional-1;
	color: $color-white;
	display: inline-block;
	font-size: 1.25rem;
	font-weight: 700;
	height: 44px;
	line-height: 44px;
	margin-left: 44px;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;

	&::after, &::before {
		border: 22px solid transparent;
		content: '';
		display: block;
	}

	&::after {
		border-left-color: $color-institutional-1;
		border-top-color: $color-institutional-1;
		float: right;
		margin-right: -60px;
	}

	&::before {
		border-bottom-color: $color-institutional-1;
		border-right-color: $color-institutional-1;
		float: left;
		margin-left: -60px;
	}
}

main {
	@include container($viewport-size-landscape);
	@include margin-top(6rem);

	margin-bottom: 10rem;
}

.demo {
	background-color: $color-background-light;
	text-align: center;
	padding: 1rem;
	width: 100%;

	img {
		display: inline-block;
		margin-left: .5rem;
		margin-right: .5rem;
	}
}

.hero {
	@extend .flex;
	@extend .flex--space-evenly;
	position: relative;

	img {
		max-width: 300px;
	}

	&__logos {
		@extend .flex;
		@extend .flex--right;
		
		img {
			margin-left: .5rem;
			margin-top: .5rem;
			max-width: 1.5rem;
			max-height: 1.5rem;
		}
	}

	&::before {
		@extend .position--center;
		background: url(../img/icon--arrow.svg) no-repeat center $color-institutional-1;
		background-size: 50px;
		box-shadow: 0 .25rem 1rem -.5rem $color-black;
		border-radius: 100%;
		content: '';
		height: 60px;
		width: 60px;
	}

	@include breakpoint($viewport-size-landscape) {
		@include margin-top(6rem);

		align-items: center;
		flex-direction: column;

		&::before {
			left: unset;
			top: unset;
			transform: rotate(90deg);
		}
	}
}